<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>

  <div class="site">
    <div class="header">
      <h1 class="title">{{ site.name }}</h1>
    </div>

    <div class="list-container">
      <ul class="song-list">
        <li class="song">Song Name</li>
        <li class="song">Song Name</li>
      </div>
    </div>
    {{ content }}

  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
